/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F3AC3C
  Olive: #998235
*/

.box {
  background-color: #0b2429;
}

.eye {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #998235;
  border-radius: 50% 0;
  rotate: 45deg;
  top: 50px;
  left: 100px;
}
.eye::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #f3ac3c;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 0 20px #0b2429;
}
